<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='/stylesheets/index.css' />
		<link rel='stylesheet' href='http://getbootstrap.com/dist/css/bootstrap.min.css' />
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
		<script type="text/javascript" src="./javascripts/api.js"></script>
		<script type="text/javascript" src="./javascripts/blog-menu-load.js"></script>

	</head>
	<body>
		<div class="container-fluid">
			<div class="blog-header row">
					<div class="blog-title col-md-12 col-sm-12 col-ld-12"></div>
					<div class="blog-slogan col-md-12 col-sm-12 col-ld-12"></div>
			</div>
				<div class="main-blog row">{{{body}}}</div>

		</div>
	</body>
</html>