<link rel='stylesheet' href='/stylesheets/user.css'/>

<div style="text-align: center;">{{message}}</div>
<div class="loginform">
	<form action="../user/checklogin" method="post">
		<label style="display:block" for="username">Tài khoản</label>
		<input style="display:block" type="text" name="username">
		<label style="display:block" for="password">Mật khẩu</label>
		<input style="display:block" type="password" name="password">
		<input style="display:block" type="submit">
	</form>
</div>