<div>
	<label for="blog-title"></label>
	<input type="text" name="blog-title">
	<input type="button" value="Gửi">

</div>
<div>
	<label for="blog-slogan"></label>
	<input type="text" name="blog-slogan">
	<input type="button" value="Gửi">
</div>

<div>
	<label for="blog-post">Bài viết mới</label>
	<input type="text-area" name="blog-post-name">

	<input type="text-area" name="blog-post-contents">
	<input type="button" value="Gửi">
</div>